@font-face {
    font-family: "SF Mono Regular";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular"),
        url("fonts/sf-mono-cufonfonts-webfont/SFMonoRegular.woff")
            format("woff");
}

@font-face {
    font-family: "Calibre Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Calibre Regular"),
        url("fonts/calibre-cufonfonts-webfont/CalibreRegular.woff")
            format("woff");
}

@font-face {
    font-family: "Calibre Semibold";
    font-style: normal;
    font-weight: normal;
    src: local("Calibre Semibold"),
        url("fonts/calibre-cufonfonts-webfont/CalibreSemibold.woff") format("woff");
}

body {
    background: #031424;
    color: #fff;
    font-family: "Calibre Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #fff;
}

#wrapper {
    /* border: 1px solid blue; */
}

.container {
    /* border: 1px solid green; */
}

.section-headline {
    font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 40px;
    font-weight: 600;
}

.section-number {
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ff3b3f;
}

button {
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    border: 1px solid #ff3b3f;
    border-radius: 5px;
    color: #cf6766;
    background: none;
}

button:hover {
    background: rgba(255, 59, 62, 0.041);
    cursor: pointer;
}

/* nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 5vw;
    align-items: center;
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    background: #031424;
}

#logo {
    /* font-family: "Calibre Bold", Arial, Helvetica, sans-serif; */
    padding: 7px 10px;
    width: 20px;
    text-align: center;
    border: 1px solid #ff3b3f;
    color: #ff3b3f;
}

.navLink {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.hamburger {
    display: none;
}

/* hero section */

#hero-section {
    /* display: flex;
    flex-direction: column;
    align-items: start;
    padding: 150px 10px 0 10px;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: start;
    min-height: 100vh; */

    margin: 0px auto;
    padding: 0px 0px 150px 0px;
    max-width: 1000px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 90vh;
}

#hero-pre-text {
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    color: #ff3b3f;
    font-size: 16px;
    padding-bottom: 30px;
}

.hero-header-text {
    font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 500;
}

#hero-name {
    line-height: 1;
}

#hero-tagline {
    color: gray;
    padding-bottom: 10px;
}

#subheader-text {
    font-size: 20px;
    color: gray;
    width: 50%;
    padding-bottom: 60px;
}

.cta-contact {
    padding: 1.25rem 1.75rem;
}

/* about section */

#about-section {
    padding: 0 10px 150px 10px;
    margin: 0 auto;
    max-width: 1000px;
}

#about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#bio-para {
    width: 45%;
}

#bio-para p {
    padding: 0 0 20px 0;
}

#headshot-container {
    width: 40%;
    margin-left: auto;
    margin-right: 170px;
    max-width: 300px;
    position: relative;
}

#headshot {
    width: 100%;
    border-radius: 2px;
}

/* experience section */

#experience-section {
    padding: 150px 10px;
    margin: 0 auto;
    max-width: 800px;
}

.at-symbol {
    color: #ff3b3f;
}

.jobDateRange {
    color: rgb(168, 178, 209);
}

#experience-content {
    display: flex;
    align-items: flex-start;
    padding: 30px 0px;
}

#job-button-container {
    width: 30%;
}

#jobList {
    width: 85%;
}

#jobList :hover {
    /* color: #FF3B3F; */
    background: rgba(255, 59, 62, 0.082);
}

#job-bulletpoints {
    width: 90%;
}

#job-bulletpoints ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

#job-bulletpoints ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #ff3b3f;
}

.job-button {
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: none;
    padding: 15px 20px;
    color: #a9a9a9;
    border-radius: 0;
    cursor: pointer;
}

.job-button-selected {
    color: #ff3b3f;
    border-left: 1px solid #ff3b3f;
    border-radius: 0;
}

.job-button-selected :hover {
    background: none;
}

#jobDetails {
    padding-top: 15px;
    width: 70%;
}

.jobTitle {
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: 600;
}

.jobDateRange {
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 40px;
}

#jobDetails li {
    font-size: 16px;
    padding-bottom: 10px;
}

/* projects section */

#projects-section {
    padding: 150px 10px;
    margin: 0 auto;
    max-width: 1000px;
}

.featured-project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: visible;
}

.featured-project-details {
    width: 60%;
    text-align: right;
    z-index: 2;
}

.feature-text {
    color: #ff3b3f;
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}

.project-title {
    font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-bottom: 10px;
}

.technology-list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: outside none none;
    font-size: 12px;
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    color: rgb(168, 178, 209);
}

.tech-item {
    padding-left: 20px;
}

.project-description {
    padding: 20px 20px;
    background: #8eaebd;
    width: 72%;
    margin-left: auto;
    border-radius: 3px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    margin-bottom: 20px;
}

.featured-project-screenshot {
    width: 40%;
    /* margin-left: auto; */
    max-width: 1000px;
    position: relative;
}

.project-screenshot {
    width: 180%;
    border-radius: 1px;
}

.project-link-icons {
    width: 20px;
    height: 20px;
}

/* contact section */

#contact-section {
    padding: 150px 10px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.contact-section-name {
    font-size: 16px;
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    color: #ff3b3f;
}

.contact-headline {
    font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
    font-size: 68px;
    font-weight: bold;
    padding-bottom: 30px;
}

.contact-text {
    padding-bottom: 60px;
}

/* footer */

footer {
    background: #02101d;
    /* width: 100%; */
    text-align: center;
    padding: 32px 0;
}

footer a {
    margin: auto;
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#social-icons-footer {
    display: none;
}

/* fixed sidebars */

#social-icons-fixed-bar-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);
}

.social-icon {
    padding-bottom: 20px;
}

.social-icon-list {
    text-align: center;
}

.social-icon-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: rgb(168, 178, 209);
}

#email-fixed-bar-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: rgb(168, 178, 209);
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#fixed-bar-email-link {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    letter-spacing: 0.245em;
}

#email-fixed-bar-container a {
    color: rgb(168, 178, 209);
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
        Monaco, monospace;
    font-size: 12px;
    letter-spacing: 0.1em;
    margin: 20px auto;
    padding: 10px;
    writing-mode: vertical-rl;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

#email-fixed-bar-container::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: rgb(168, 178, 209);
}

#email-fixed-bar-container a:hover {
    transform: translateY(-3px);
    color: #ff3b3f;
    text-decoration: none;
}

svg {
    width: 18px;
    height: 18px;
    fill: rgb(168, 178, 209);
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

svg :hover {
    fill: #ff3b3f;
}
.social-icon :hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 1300px) {
    #social-icons-fixed-bar-container {
        display: none;
    }

    #email-fixed-bar-container {
        display: none;
    }

    #social-icons-footer {
        display: initial;
    }

    #social-icons-footer ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #social-icons-footer ul li {
        padding: 0 15px 10px 15px;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    #hero-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    #about-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    #experience-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    #projects-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    #contact-section {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 830px) {
    body {
        font-size: 18px;
    }

    .hamburger {
        display: inherit;
    }

    .navLink {
        display: none;
    }



    .hero-header-text {
        font-size: 70px;
    }

    #hero-tagline {
        font-size: 70px;
        
    }
    
    #subheader-text {
        width: 100%;
    }

    #about-content {
        display: block;
    }

    #bio-para {
        width: 80vw;
    }

    #headshot-container {
        width: 70%;
        margin: 0 auto;
        max-width: 300px;
        position: relative;
    }

    .contact-headline {
        font-size: 46px;
    }

    .contact-section-name {
        font-size: 14px;
        font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
        padding-bottom: 30px;
        color: #ff3b3f;
    }
}